@model NewsExercise.Models.NewsTypes

@{
    ViewBag.Title = "AddTitle";
    Layout = "~/Views/_LayoutPage.cshtml";
}

    @using (Html.BeginForm("CreateTitle", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>NewsTypes</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.NewsType)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewsType)
                @Html.ValidationMessageFor(model => model.NewsType)
            </div>

            <p>
                <input type="submit" value="创建" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", "Home")
    </div>

